.main {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  min-height: 100vh;
  height: 100%;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.85rem;
  max-width: 1687px;
  width: 100%;
  gap: 16px;
}
